body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  body {
    height: 100vh;
    background: whitesmoke;
    font-family: font;
    overflow: hidden;
  }
  .container {
    width: 800px;
    height: 400px;
    background:gray;
    position: relative;
    display: grid;
    grid-template: 100% / 100% 100%;
    box-shadow: 2px 2px 10px 0 rgba(#333, 0.2);
  }
  
  .button {
    position: absolute;
    background:orange;
    width: 50%;
    height: 100%;
    transition: 0.5s all ease;
    transform: translateX(100%);
    z-index: 4;
    }